@import "variables";
@import "header";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $grisbg;
}

h1:after{
    content: " ";
    display: block;
    background-color: $grisfooter;
    height: 2px;
    width: 40%;
    margin: 20px auto;
}

.fleximage {
    display: flex;
}

.img{
    &1{display: block;}
    &2{display: none;}
}

@mixin responsiveimage {
    height: 100;
    width: 100%;
} 

.container-fluid iframe {
    @include responsiveimage;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

img {
    @include responsiveimage;
    margin-top: 1%;
    margin-bottom: 1%;

}

.accordion {
    margin-top: 1%;
}
.interlineado {
    @extend .fleximage;
    line-height: 25px;
    flex-direction: column;
}

.products {
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content:space-evenly;
}

@import "footer";
@import "mediaqueries";