@import "header";
@import "variables";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $grisbg;
}

.fleximage {
    display: flex;
}

@mixin responsiveimage {
    height: 70;
    width: 100%;
} 

.container-fluid iframe {
    @include responsiveimage;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

img {
    @include responsiveimage;
    margin-top: 1%;
    margin-bottom: 1%;
}


.lista {
    @extend .fleximage;
    list-style-type: none;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
    li ul{

        align-content: center;
    }
}


.interlineado {
    @extend .fleximage;
    line-height: 25px;
    flex-direction: column;
}

.products {
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content:space-evenly;
}

footer {
    @extend .fleximage;
    font-family: 'Rubik', sans-serif;
    background-color: $grisfooter;
    justify-content: center;
    margin-top: 1%;
}

@import "mediaqueries";