@import "variables";
@import "header";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $grisbg;
}

.fleximage {
    display: flex;
}

.img{
    &1{display: block;}
    &2{display: none;}
}

@mixin responsiveimage {
    height: 100;
    width: 100%;
} 

.container-fluid iframe {
    @include responsiveimage;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

img {
    @include responsiveimage;
    margin-top: 1%;
    margin-bottom: 1%;

}


.lista {
    @extend .fleximage;
    list-style-type: none;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
    li ul{

        align-content: center;
    }
}


.interlineado {
    @extend .fleximage;
    line-height: 25px;
    flex-direction: column;
}

.products {
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content:space-evenly;
}

footer {
    min-height: 250px;
    font-family: 'Rubik', sans-serif;
    background-color: $grisfooter;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    padding-bottom: 1%;
}

.logofooter {
    width: 320px; 
}

@import "mediaqueries";