.header {
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
  font-size: 200%;
  background-color: whitesmoke; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke; }

h1:after {
  content: " ";
  display: block;
  background-color: #cfcfcf;
  height: 2px;
  width: 40%;
  margin: 20px auto; }

.fleximage, .interlineado {
  display: flex; }

.img1 {
  display: block; }

.img2 {
  display: none; }

.container-fluid iframe {
  height: 100;
  width: 100%; }

a {
  color: black;
  text-decoration: none; }

img {
  height: 100;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%; }

.accordion {
  margin-top: 1%; }

.interlineado {
  line-height: 25px;
  flex-direction: column; }

.products {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-evenly; }

footer {
  min-height: 250px;
  font-family: 'Rubik', sans-serif;
  background-color: #cfcfcf;
  justify-content: center;
  text-align: center;
  margin-top: 1%;
  padding-bottom: 1%; }

.logofooter {
  width: 320px;
  margin-bottom: 0; }

.social {
  margin: 0 0 5% 0;
  list-style-type: none; }

@media screen and (max-width: 990px) {
  .products {
    font-size: auto;
    flex-direction: column;
    align-items: center; }
  .card {
    margin-top: 1.5%; }
  .img1 {
    display: none; }
  .img2 {
    display: block; }
  .nosotros {
    flex-direction: column; } }
